@font-face {
    font-family: f1;
    src: url(./assets/63cffc0a3942456e003bc265_Chillax-Regular.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

@mixin flex-column($gap: 0rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin flex($gap: 0rem) {
    display: flex;
    gap: $gap;
    align-items: center;
}

main {
    width: 100%;
    min-height: 100%;
    font-family: f1;
    background-color: #121212;
    color: #EFEDE8;
    @include flex-column(0rem);

    section{
        max-width: 2000px;
    }

    img {
        width: 100%;
        border-radius: 0.7rem;
        }

    header{
        @include flex(0rem);
        justify-content: space-between;
        padding: 0.7rem 1.4rem;

        #icons{
            border-radius: 0.4rem;
            display: flex;
            gap: 0.6rem;

            h2{
                background-color: #1E1E1E;
                font-size: 0.9rem;
                padding: 0.7rem 0.9rem;
                border-radius: 0.5rem;
                @include flex(0.5rem);
            }

            span{
                font-size: 0.9rem;
                background-color: #CEBD63;
                border-radius: 50%;
                padding: 0.01rem 0.3rem;
                color: #000;
            }
        }
    }

    #hero{
        padding: 1.2rem;
        @include flex-column(1rem);

        img{
            border-radius: 0.6rem;
        }

        #hero-div{
            background-color: #1E1E1E;
            padding: 2rem 1.2rem;
            border-radius: 0.7rem;

            h4{
                margin-bottom: 4rem;
            }

            h1{
                font-weight: 400;
                text-transform: uppercase;
                width: 80%;
            }

            p{
                font-size: 1.2rem;
                line-height: 1.8;
                opacity: 0.6;
                margin-bottom: 2rem;
            }

            button{
                border: 0;
                background-color: transparent;
                color: #EFEDE8;
            }
        }
    }

}


@media (min-width:900px){
    main{
        
        #hero{
            flex-direction: row;
            

            img, #hero-div{
                width: 50%;
            }

            #hero-div{
                padding: 3rem;

                h4{
                    margin-bottom: 10rem;
                }

                h1{
                    font-size: 4rem;
                    width: 100%;
                    margin-bottom: 2rem;
                }

            }
        }
        
    }
}

@media (min-width:2000px){
    main{
        align-items: center;

        header{
            width: 2000px;
            display: flex;
            justify-content: space-between;
        }

        #hero-div{
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            p{
                width: 80%;
            }
        }
    }
}