@font-face {
  font-family: f1;
  src: url(./assets/63cffc0a3942456e003bc265_Chillax-Regular.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  min-height: 100%;
  font-family: f1;
  background-color: #121212;
  color: #EFEDE8;
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
main section {
  max-width: 2000px;
  padding: 1.2rem;
}
main img {
  width: 100%;
  border-radius: 0.7rem;
}
main header {
  display: flex;
  gap: 0rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 1.4rem;
}
main header h1 {
  font-size: 1.5rem;
}
main header #icons {
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
main header #icons h2 {
  background-color: #1E1E1E;
  font-size: 0.9rem;
  padding: 0.7rem 0.9rem;
  border-radius: 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
main header #icons h2 span {
  font-size: 0.9rem;
  background-color: #CEBD63;
  border-radius: 50%;
  padding: 0.01rem 0.3rem;
  color: #000;
}
main header #icons i {
  background-color: #1E1E1E;
  font-size: 1rem;
  padding: 0.7rem 0.9rem;
  border-radius: 0.5rem;
}
main section#hero {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section#hero img {
  border-radius: 0.6rem;
}
main section#hero #hero-div {
  background-color: #1E1E1E;
  padding: 2rem 1.2rem;
  border-radius: 0.7rem;
}
main section#hero #hero-div h4 {
  margin-bottom: 4rem;
  font-weight: 400;
}
main section#hero #hero-div h1 {
  font-size: 2.2rem;
  font-weight: 400;
  text-transform: uppercase;
  width: 80%;
  line-height: 1.3;
  margin-bottom: 1rem;
}
main section#hero #hero-div p {
  font-size: 1.2rem;
  line-height: 1.8;
  opacity: 0.6;
  margin-bottom: 2rem;
}
main section#hero #hero-div button {
  border: 0;
  background-color: transparent;
  color: #EFEDE8;
}
main section#hero #hero-div button i {
  color: #EFEDE8;
  padding: 0.2rem;
  border-radius: 50%;
  border: 1px solid #EFEDE8;
  margin-right: 0.2rem;
}
main section#numbers {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section#numbers #top, main section#numbers #bottom {
  text-align: center;
  display: flex;
  justify-content: space-around;
}
main section#numbers #top .element, main section#numbers #bottom .element {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
main section#numbers #top .element h5, main section#numbers #bottom .element h5 {
  font-size: 0.8rem;
  opacity: 0.6;
}
main section#numbers #top .element h2, main section#numbers #bottom .element h2 {
  font-size: 2.3rem;
  font-weight: 200;
}
main section#page2, main section#page3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section#page2 #sec2b, main section#page2 #sec3b, main section#page3 #sec2b, main section#page3 #sec3b {
  background-color: #1E1E1E;
  padding: 2rem 1.2rem;
  border-radius: 0.7rem;
}
main section#page2 #sec2b .upper, main section#page2 #sec3b .upper, main section#page3 #sec2b .upper, main section#page3 #sec3b .upper {
  text-transform: uppercase;
}
main section#page2 #sec2b .upper h4, main section#page2 #sec3b .upper h4, main section#page3 #sec2b .upper h4, main section#page3 #sec3b .upper h4 {
  font-size: 0.9rem;
}
main section#page2 #sec2b .lower, main section#page2 #sec3b .lower, main section#page3 #sec2b .lower, main section#page3 #sec3b .lower {
  padding: 4rem 0.5rem 0;
}
main section#page2 #sec2b .lower h2, main section#page2 #sec3b .lower h2, main section#page3 #sec2b .lower h2, main section#page3 #sec3b .lower h2 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 1.5rem;
}
main section#page2 #sec2b .lower p, main section#page2 #sec3b .lower p, main section#page3 #sec2b .lower p, main section#page3 #sec3b .lower p {
  opacity: 0.6;
}
main section#job #top h1 {
  font-weight: 400;
}
main section#job #top h4 {
  display: none;
}
main section#job #bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section#job #bottom .element {
  position: relative;
}
main section#job #bottom .element #links {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  top: 10%;
  left: 40%;
  cursor: pointer;
}
main section#job #bottom .element #links h4 {
  padding: 0.6rem 0.8rem;
  border-radius: 50%;
  border: 0.5px solid rgba(117, 115, 115, 0.4745098039);
  background-color: #332620;
}
main section#job #bottom .element #links h4 i {
  font-weight: 100;
  font-size: 1rem;
}
main section#job #bottom .element #text {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 1rem;
  border-radius: 0.5rem;
}
main section#job #bottom .element #text h4 {
  font-weight: 500;
  font-size: 0.9rem;
}
main section#job #bottom .element #text h2 {
  font-weight: 400;
  font-size: 1.3rem;
}
main section#page4 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section#page4 #join {
  background-color: #1E1E1E;
  padding: 2rem 1.2rem;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
}
main section#page4 #join #top h4 {
  font-size: 0.9rem;
  opacity: 0.6;
  margin-bottom: 0.8rem;
}
main section#page4 #join #top h2 {
  font-size: 2rem;
  font-weight: 400;
}
main section#page4 #join #bottom h3 {
  font-size: 0.9rem;
}
main section#page4 #join #bottom h3 i {
  font-size: 1rem;
  padding: 0.3rem;
  border: 1px solid #3B3B3B;
  border-radius: 50%;
  margin-right: 0.3rem;
}

@media (min-width: 900px) {
  main section#hero {
    flex-direction: row;
  }
  main section#hero img, main section#hero #hero-div {
    width: 50%;
  }
  main section#hero #hero-div {
    padding: 3rem;
  }
  main section#hero #hero-div h4 {
    margin-bottom: 10rem;
  }
  main section#hero #hero-div h1 {
    font-size: 4rem;
    width: 100%;
    margin-bottom: 2rem;
  }
  main section#numbers {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
  }
  main section#numbers #top, main section#numbers #bottom {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  main section#numbers #top .element, main section#numbers #bottom .element {
    gap: 0.2rem;
  }
  main section#numbers #top .element h2, main section#numbers #bottom .element h2 {
    font-size: 4rem;
  }
  main section#numbers #top .element h5, main section#numbers #bottom .element h5 {
    font-size: 1rem;
    font-weight: 200;
  }
  main section#page2, main section#page3 {
    flex-direction: row;
  }
  main section#page2 #sec2a, main section#page2 #sec2b, main section#page2 #sec3a, main section#page2 #sec3b, main section#page3 #sec2a, main section#page3 #sec2b, main section#page3 #sec3a, main section#page3 #sec3b {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  main section#page2 #sec2a .lower h2, main section#page2 #sec2b .lower h2, main section#page2 #sec3a .lower h2, main section#page2 #sec3b .lower h2, main section#page3 #sec2a .lower h2, main section#page3 #sec2b .lower h2, main section#page3 #sec3a .lower h2, main section#page3 #sec3b .lower h2 {
    font-size: 3rem;
  }
  main section#page2 #sec2a .lower .paragraphs, main section#page2 #sec2b .lower .paragraphs, main section#page2 #sec3a .lower .paragraphs, main section#page2 #sec3b .lower .paragraphs, main section#page3 #sec2a .lower .paragraphs, main section#page3 #sec2b .lower .paragraphs, main section#page3 #sec3a .lower .paragraphs, main section#page3 #sec3b .lower .paragraphs {
    display: flex;
    gap: 1rem;
  }
  main section#page2 #sec2a .lower .paragraphs p, main section#page2 #sec2b .lower .paragraphs p, main section#page2 #sec3a .lower .paragraphs p, main section#page2 #sec3b .lower .paragraphs p, main section#page3 #sec2a .lower .paragraphs p, main section#page3 #sec2b .lower .paragraphs p, main section#page3 #sec3a .lower .paragraphs p, main section#page3 #sec3b .lower .paragraphs p {
    font-size: 1.1rem;
  }
  main section#page2 #sec2b, main section#page2 #sec3b, main section#page3 #sec2b, main section#page3 #sec3b {
    padding: 4rem;
  }
  main section#page2 {
    flex-direction: row-reverse;
  }
  main section#job #top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
  }
  main section#job #top h1 {
    font-size: 3rem;
  }
  main section#job #top h4 {
    display: block;
  }
  main section#job #top h4 i {
    padding: 0.5rem;
    background-color: #1E1E1E;
    border-radius: 50%;
    border: 1px solid #332620;
    margin-right: 0.5rem;
  }
  main section#job #bottom {
    flex-direction: row;
  }
  main section#job #bottom .element #links {
    left: 60%;
  }
  main section#job #bottom .element #text {
    top: 90%;
  }
  main section#job #bottom .element #text #name {
    display: flex;
    gap: 0.5rem;
  }
  main section#page4 {
    flex-direction: row;
  }
  main section#page4 img, main section#page4 #join {
    width: 50%;
  }
  main section#page4 #join {
    padding: 4rem;
  }
  main section#page4 #join #top h2 {
    font-size: 3rem;
  }
}
@media (min-width: 2000px) {
  main {
    align-items: center;
  }
  main header {
    padding: 1rem 2rem;
    width: 2000px;
    margin: 0 auto;
  }
  main #hero-div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  main #hero-div p {
    width: 80%;
  }
}/*# sourceMappingURL=style.css.map */